.container {
    width: 150pt;
    font-size: 10pt;
    text-align: justify;
    border: 10px;
    border-style: solid;
    border-color: red;
    position: fixed;
}

.important {
    width: 200pt;
    font-size: 12pt;
    text-align: left;
    border: 10px;
    margin-top: 10px;
    border-style: dashed;
    border-color: blue;
    background-color: grey;
}

.veryimportant {
    width: 400pt;
    font-size: 8pt;
    text-align: right;
    border: 20px;
    border-style: double;
    border-color: green;
    background-color: yellow;
}